# Binary
/apex-cli

# Scan output
scan_*/

# Python legacy cache
python-legacy/__pycache__/

# OS
.DS_Store
__pycache__/
wordlists/seclists
wordlists/best-dns-wordlist.txt
wordlists/2m-subdomains.txt
.env